{#  VELOCI - Web application for management races
	Copyright (C) 2014: Adrián Pérez López

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU Affero General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Affero General Public License for more details.

	You should have received a copy of the GNU Affero General Public License
	along with this program.  If not, see [http://www.gnu.org/licenses/]. #}

{% extends "admbase.html.twig" %}

{% block head %}
<style type="text/css">
	.img-circle {
		height: 100px;
		width: 100px;
		margin: 0 auto;
	}
</style>
{% endblock %}

{% block adminPrincipal %}
class="active"
{% endblock %}

{% block content %}
<div class="col-lg-9">
	<div class="panel panel-default">
		<div class="panel-body">
			<h2>Dashboard <small>Control Panel</small></h2>
			<div class="col-lg-6">
				<div class="panel panel-default">
				<div class="panel-heading">
					Usuarios
				</div>
					<table class="table table-striped">
						<thead>
							<th>ID</th>
							<th>Nombre</th>
							<th>Email</th>
							<th>Rol</th>
						</thead>
						<tbody>
							{% for usuario in usuarios %}
							<tr>
								<td>{{ usuario.id }}</td>
								<td>{{ usuario.nombre_completo }}</td>
								<td>{{ usuario.email }}</td>
								{% if usuario.rol == 5 %}
									<td>Administrador</td>
								{% elseif usuario.rol == 1 %}
									<td>Registrado</td>
								{% endif %}
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						Información
					</div>
					<div class="panel-body">
						Este es el panel de administración, en el cual podrás administrar la aplicación, según tu rango tendrás acceso o no a las distintas zonas del panel.
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						Reclamaciones activas
					</div>
					<div class="panel-body">
						Ninguna reclamación activa
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="panel panel-default">
				<div class="panel-heading">
					Categorías
				</div>
					<table class="table table-striped">
						<thead>
							<th>Imagen</th>
							<th>Nombre</th>
							<th>Plazas</th>
							<th>Precio</th>
						</thead>
						<tbody>
							{% for categoria in categorias %}
							<tr>
								<td>{{ categoria.imagen }}</td>
								<td>{{ categoria.nombre }}</td>
								<td>{{ categoria.plazas }}</td>
								<td>{{ categoria.precio_inscripcion }} €</td>
							</tr>
							{% else %}
							<tr><td>No se han encontrado categorías</td></tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="panel panel-default">
				<div class="panel-heading">
					Circuitos
				</div>
					<table class="table table-striped">
						<thead>
							<th>Nombre</th>
							<th>País</th>
							<th>Distancia</th>
						</thead>
						<tbody>
							{% for circuito in circuitos %}
							<tr>
								<td>{{ circuito.nombre }}</td>
								<td>{{ circuito.pais }}</td>
								<td>{{ circuito.distancia }} Km</td>
							</tr>
							{% else %}
							<tr><td>No se han encontrado circuitos</td></tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="panel panel-default">
				<div class="panel-heading">
					Carreras
				</div>
					<table class="table table-striped">
						<thead>
							<th>Nombre</th>
							<th>Primer compuesto</th>
							<th>Segundo compuesto</th>
							<th>Vueltas</th>
							<th>Fecha</th>
						</thead>
						<tbody>
							{% for carrera in carreras %}
								<tr>
									<td>{{ carrera['nombre'] }}</td>
									<td>{{ carrera['neumatico1'] }}</td>
									<td>{{ carrera['neumatico2'] }}</td>
									<td>{{ carrera['vueltas'] }}</td>
									<td>{{ carrera['fecha'] }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}