{#  VELOCI - Web application for management races
	Copyright (C) 2014: Adrián Pérez López

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU Affero General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Affero General Public License for more details.

	You should have received a copy of the GNU Affero General Public License
	along with this program.  If not, see [http://www.gnu.org/licenses/]. #}

<!DOCTYPE html>
<html>
<head>
	<title>{{ configuracion['nombre'] }}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon" href="http://i40.servimg.com/u/f40/12/30/65/21/logotr12.gif">
	<link rel="stylesheet" href="/css/style.css" type="text/css">
	<link rel="stylesheet" href="/css/{{ configuracion['plantilla_defecto']}}" type="text/css">
	<link rel="stylesheet" href="/css/alertify.bootstrap.css" type="text/css">
	<link rel="stylesheet" href="/css/alertify.core.css" type="text/css">
	<link rel="stylesheet" href="/css/alertify.default.css" type="text/css">
	<link rel="stylesheet" href="/css/font-awesome.css" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="/js/jquery-1.9.1.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.js"></script>
	<script type="text/javascript" src="/js/jsfunctions.js"></script>
	<script type="text/javascript" src="/js/alertify.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
   			$("body").popover({
   				selector: '[data-toggle=popover]',
   				html: true,
   				trigger: 'hover'
   			 });
   		});
	</script>

	{% block head %}{% endblock %}
</head>
<body onload="generarCalendario(1,1)">
	<div class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" rel="home" href="{{ urlFor('principal') }}">{{ configuracion['nombre'] }}</a>
			</div>

			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-left">
					<li><a href="{{ urlFor('pilotos') }}">Usuarios</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Competición</span></a>
						<ul class="dropdown-menu">
							<li class="menuitem"><a href="{{ urlFor('categorias') }}">Categorías</a></li>
							<li class="menuitem"><a href="{{ urlFor('carreras') }}">Carreras</a></li>
							<li class="menuitem"><a href="{{ urlFor('reclamaciones') }}">Reclamaciones</a></li>
							<li class="menuitem"><a href="{{ urlFor('asistencias') }}">Asistencias</a></li>
						</ul>
					</li>
					<li><a href="http://f1mresultados.webcindario.com/F12014/HTML-Export/Calendar.html" target="_blank">Clasificación</a></li>
					<li><a href="http://www.f1mallorcasimracing.com/forum" target="_blank">Foro</a></li>
					{% block LinksMenu %}{% endblock %}
		            </li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					{% block Settings %}
						{% if rol >= 1 %}
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-flag"></i> <span class="badge">{{ nNotificaciones }}</span></a>
							<ul class="dropdown-menu">
							{% for notificacion in notificaciones %}
								<li class="menuitem"><a href="{{ notificacion['enlace'] }}" onclick="veNotificacion('{{ id }}', '{{ notificacion['id'] }}')">{{ notificacion['usuario'] }} {{ notificacion['nota'] }}</a></li>
							{% else %}
								<li class="menuitem"><a href="#">No tiene notificaciones</a></li>
							{% endfor %}
								<li class="divider"></li>
								<li class="menuitem"><a href="{{ urlFor('notificacionesUsuario') }}">Ver todas</a></li>
							</ul>
						</li>
						<li><a href="{{ urlFor('perfil') }}"><img src="{{ avatar }}" id="imgPerfilSuperior"/> <span class="ocultar notablet">Identificado como</span> {{ usuario }}</a></li>
							<li class="dropdown notablet">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cogs"></i><b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li class="bloquePerfil" href="#">
										<a href="{{ urlFor('perfil') }}" class="menuitem">
											<img src="{{ avatar }}" class="imgPerfil" id="imgPerfil"/>
											{{ usuario }}
										</a>
									</li>
									<li role="presentation" class="divider"></li>
									{% if rol == 5 %}
										<li><a href="{{ urlFor('admin') }}">Panel de administración</a></li>
									{% endif %}
									{% block limenu %}{% endblock %}
									<li><a href="{{ urlFor('cerrarSesion') }}">Cerrar sesión</a></li>
								</ul>
							</li>
						{% else %}
							<li>
								<a href="#" data-toggle="modal" data-target="#loginModal" data-backdrop="static">
									No identificado</span> (Identificarse) <i class="fa fa-sign-in"></i>
								</a>
							</li>
							<li>
								<a href="#" data-toggle="modal" data-target="#registerModal" data-backdrop="static">
									Registro <i class="fa fa-pencil"></i>
								</a>
							</li>
						{% endif %}
					{% endblock %}
				</ul>
			</div>
		</div>
	</div>
	{% block cabecera %}
	<div class="jumbotron cabecera">
      <div class="container">
        <h1 class="texto_cabecera">{{ configuracion['nombre'] }}</h1>
        <p class="texto_cabecera">{{ configuracion['descripcion'] }}</p>
      </div>
    </div>
    {% endblock %}

	{% block container %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
				<div class="row">
					{% if rol >= 1 %}
					<div class="col-lg-12 col-md-6 col-sm-12 col-xs-12 hidden-lg hidden-md">
					<div class="panel panel-default">
					<div class="panel-body">
						<div class="col-lg-12 col-md-6 col-sm-6 col-xs-12 hidden-lg hidden-md">
							<div class="panel panel-default">
								<div class="panel-body">
									<img src="{{ avatar }}" alt="avatar" class="img-circle img-responsive">
									<h2 class="text-center">{{ usuario }}</h2>
								</div>
							</div>
						</div>
						<div class="col-lg-12 col-md-6 col-sm-6 col-xs-12 hidden-lg hidden-md">
							<div class="panel panel-default">
								<div class="panel-body">
									<a href="{{ urlFor('perfil') }}" class="btn btn-info btn-block">Mi perfil</a>
									{% if rol == 5 %}
										<a href="{{ urlFor('admin') }}" class="btn btn-success btn-block">Panel de administración</a>
									{% endif %}
									<a href="{{ urlFor('cerrarSesion') }}" class="btn btn-danger btn-block">Cerrar sesión</a>
								</div>
							</div>
						</div>
					</div>
					</div>
					</div>
					{% else %}
					<div class="col-lg-12 col-md-6 col-sm-12 col-xs-12 hidden-lg hidden-md">
						<div class="panel panel-default">
							<div class="panel-heading">Identificarse<a class="btn btn-info btn-xs pull-right" data-toggle="modal" data-target="#registerModal" data-backdrop="static"><i class="fa fa-pencil"></i> Registro</a>
							</div>
							<div class="panel-body">
								<form role="form" method="post" action="{{ urlFor('accederPrincipal') }}">
									<div class="form-group" id="pepito">
										<label for="inputUsuario">Nombre de usuario</label>
										<input type="text" class="form-control" name="inputUsuario" placeholder="Usuario" title="Introduzca su nombre de usuario" autocomplete="off" required>
										<div id="pepe"></div>
									</div>
									<div class="form-group">
										<label for="inputPassword">Contraseña</label>
										<input type="password" class="form-control" name="inputPassword" placeholder="Contraseña del usuario" title="Introduzca su contraseña" required>
									</div>
									<div class="form-group">
										<label><input type="checkbox"/> Recordarme</label>
									</div>
						        	<button type="submit" class="btn btn-success btn-block" name="login">Acceder</button>
								</form>
							</div>
						</div>
					</div>
					{% endif %}
					{% if configuracion['twitter'] != ""  or configuracion['facebook'] != "" or configuracion['youtube'] != "" or configuracion['vimeo'] != ""%}
					<div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
						<div class="panel panel-default">
							<div class="panel-heading">Redes sociales</div>
							<div class="panel-body">
								<div class="social">
									{% if configuracion['twitter'] != "" %}
									<a href="{{ configuracion['twitter'] }}" target="_blank" class="twitter"><i class="fa fa-twitter fa-2x"></i></a>
									{% endif %}
									{% if configuracion['facebook'] %}
									<a href="{{ configuracion['facebook'] }}" target="_blank" class="facebook"><i class="fa fa-facebook fa-2x"></i></a>
									{% endif %}
									{% if configuracion['youtube'] %}
									<a href="{{ configuracion['youtube'] }}" target="_blank" class="youtube"><i class="fa fa-youtube-play fa-2x"></i></a>
									{% endif %}
									{% if configuracion['vimeo'] %}
									<a href="{{ configuracion['vimeo'] }}" target="_blank" class="vimeo"><i class="fa fa-vimeo-square fa-2x"></i></a>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
					{% endif %}
					<div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
						<div class="panel panel-default">
							<div class="panel-heading">Próxima carrera</div>
							<div class="panel-body">
								{% block bloque %}
								{% for race in carrera %}
									<p>{{ race['nombre'] }} el {{ race['fecha']|date('d/m/Y') }} a las {{ race['hora']|date('H:i') }}</p>
								{% else %}
									<p>No hay carreras cercanas</p>
								{% endfor %}
								{% endblock %}
							</div>
						</div>
					</div>

					<div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
						<div class="panel panel-default">
							<div class="panel-heading">Últimas reclamaciones<span><a href="{{ urlFor('reclamaciones') }}" class="btn btn-success btn-xs pull-right btnreclamar notablet">Nueva reclamación</a></span></div>
							<div class="panel-body">
								{% for reclamacion in reclamaciones %}
								<a href={{ urlFor('reclamacion', {'idReclamacion': reclamacion['incidente_id']}) }} class="btn btn-info btn-block">
									{{ reclamacion['titulo'] }}
								</a>
								{% else %}
									<p>Ninguna reclamación activa en este momento</p>
								{% endfor %}
							</div>
						</div>
					</div>

					<div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
						<div class="panel panel-default">
							<div class="panel-heading">Servidor TeamSpeak</div>
							<div class="panel-body">
								<div id="ts3viewer_1005719" style="width:; background-color:;"><div class="ts3v"><div id="ts3_h_s1"><img src="http://static.tsviewer.com/images/teamspeak3/standard/16x16_server_pass.png" title="" alt="" align="top"> <span class="ts3v_server" title=""><a href="ts3server://188.165.123.243?port=9987" title="">F1MallorcaSimRacing</a></span> <div><span class="ts3v_info"><a href="http://www.tsviewer.com/index.php?page=ts_viewer&amp;ID=1005719" target="_blank" title="TSViewer TeamSpeak 3"><img src="http://static.tsviewer.com/images/teamspeak3/standard/16x16_info.png" title="" alt="" align="top"> TS 3 Info</a></span></div></div><div id="ts3_h_s1_ch1"><img src="http://static.tsviewer.com/images/teamspeak3/standard/16x16_tree_end.gif" title="" alt="" align="top"><img src="http://static.tsviewer.com/images/teamspeak3/standard/16x16_channel_open.png" title="" alt="" align="top"> <span class="ts3v_channel" title="Topic: Default Channel has no topic | Codec: Unknown | Quality: 6">Default Channel</span> <img src="http://static.tsviewer.com/images/teamspeak3/standard/16x16_channel_flag_default.png" title="Default Channel" alt="" align="top"> </div><div style="margin-top:5px; margin-left:16px; margin-bottom:16px;"><a href="http://www.tsviewer.com/" target="_blank" title="TSViewer for TeamSpeak 3"><img src="http://static.tsviewer.com//images/teamspeak3/default/tsv20100409.png" alt=""></a></div></div><style type="text/css"><!--.ts3v {display: block;color: #525284;font-family: Arial, Helvetica, sans-serif;font-size: 13px;width:100%;text-align: left !important;line-height: 16px;white-space:nowrap;overflow: auto;}.ts3v span.ts3v_server a:link, .ts3v span.ts3v_server a:visited {color: #525284 !important;display: inline !important;text-align: left !important;font-family: Arial, Helvetica, sans-serif;font-size: 13px;font-weight: bold;font-style: normal;font-variant: normal;text-decoration: none;}.ts3v span.ts3v_server a:active, .ts3v span.ts3v_server a:hover {color: #525284 !important;display: inline !important;text-align: left !important;font-family: Arial, Helvetica, sans-serif;font-size: 13px;font-weight: bold;font-style: normal;font-variant: normal;text-decoration: underline;}.ts3v_channel {color: #;font-family: Arial, Helvetica, sans-serif;font-size: 13px;font-weight: normal;font-style: normal;font-variant: normal;text-decoration: none;}.ts3v_channel:hover {color: #525284;font-family: Arial, Helvetica, sans-serif;font-size: 13px;font-weight: normal;font-style: normal;font-variant: normal;text-decoration: underline;}.ts3v_user {color: #;font-family: Arial, Helvetica, sans-serif;font-size: 13px;font-weight: bold;font-style: normal;font-variant: normal;text-decoration: none;}.ts3v_user:hover {color: #525284;font-family: Arial, Helvetica, sans-serif;font-size: 13px;font-weight: bold;font-style: normal;font-variant: normal;text-decoration: none;}.ts3v_info, .ts3v_info a:link, .ts3v_info a:visited, .ts3v_info a:active {color: #525284 !important;display: inline !important;text-align: left !important;font-family: Arial, Helvetica, sans-serif;font-size: 13px;font-weight: normal;font-style: normal;font-variant: normal;text-decoration: none;}.ts3v_info:hover, .ts3v_info:hover a:hover {color: #525284 !important;display: inline !important;text-align: left !important;font-family: Arial, Helvetica, sans-serif;font-size: 13px;font-weight: normal;font-style: normal;font-variant: normal;text-decoration: underline;}.ts3v img {display: inline !important;float: none !important;border: 0 !important;padding: 0 !important;margin: 0 !important;}--></style><!--[if IE]> <style type="text/css"> .ts3v { overflow:visible; overflow-x:auto; overflow-y:hidden; padding-bottom:15px; } </style> <![endif]--></div>
							</div>
						</div>
					</div>
				</div>
			</div>

			{% block content %}
			<div class="col-lg-6 col-xs-12">
			{% for noticia in noticias %}
				<div class="panel panel-default">
				<div class="panel-body">
				<div class="row">
			      <div class="col-xs-12">
			      	<!--<p class="pull-right">
			        	<span class="label label-default">keyword</span>
			        	<span class="label label-default">tag</span>
			        	<span class="label label-default">post</span>
			        </p>-->
			        <h2>{{ noticia['titulo'] }} <!--<span class="label label-success">Nueva</span>--></h2>
			        <ul class="list-inline">
			        	<li>Publicado por: {{ noticia['nombre_completo'] }}</li>
			        	<li><i class="fa fa-calendar"></i> {{ noticia['fecha_publicacion']|date("d/m/Y - H:i") }}</li>
			        	<li><a href="noticia/{{ noticia['id'] }}"><i class="fa fa-comment"></i> {{ noticia['n_comentarios'] }} Comentarios</a></li>
			        	<li><a href="javascript: void(0);" onclick="window.open('http://www.facebook.com/sharer.php?u=http://noticia/{{ noticia['id'] }}','ventanacompartir', 'toolbar=0, status=0, width=650, height=450');">Facebook</a></li>
			        	<li><a href="http://twitter.com/share?text=Veloci {{ noticia['titulo'] }}: {{ noticia['texto'] }}&url=http://localhost/7">Twitter</a></li>
			        </ul>
			        	<p>{{ noticia['texto'] }}</p>
			        <p class="lead pull-right"><a href="noticia/{{ noticia['id'] }}" class="btn btn-info">Leer más</a></p>
			      </div>
			    </div>
				</div>
				</div>
			{% else %}
				<div class="panel panel-default">
				<div class="panel-body">
				<div class="row">
			      <div class="col-xs-12">
			        <h2>Bienvenido a tu nuevo sitio <span class="label label-success">Nueva</span></h2>
			        <p class="lead pull-right"><button class="btn btn-info">Read More</button></p>
			      </div>
			    </div>
				</div>
				</div>
			{% endfor %}
			<ul class="pagination pull-right" style="font-weight: bold;">
				<li><a href="{{ urlFor('principal') }}">&laquo;</a></li>
				{% for i in 1..nNoticias %}
				<li {% if pagina == i %} class="active" {% endif %}><a href="{{ urlFor('principalPaginada', {idPagina: i}) }}">{{ i }} <span class="sr-only">(current)</span></a></li>
				{% endfor %}
			</ul>
			</div>

			<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
				<div class="row">
					<div class="col-xs-12">
						<!--<div class="panel panel-default">
							<div class="panel-heading">Calendario</div>
							<div class="panel-body">
								<div id="calendario"></div>
							</div>
						</div>-->
						<div class="panel panel-default">
							<div class="panel-heading">Categorías<span><a href="{{ urlFor('categorias') }}" class="btn btn-danger btn-xs pull-right">Ver categorías</a></span></div>
							<div class="panel-body">
								{% block categorias %}{% endblock %}
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">Enlaces</div>
							<div class="panel-body">
								<a href="http://livetiming.theracingconcept.co.uk:8080/F1Mallorca/hotlaps.php?TrackName=ALL" target="_blank" class="btn btn-info btn-block">HOTLAPS <i class="fa fa-tachometer"></i></a>
								<a href="ftp://ftp.theracingconcept.co.uk/F1Mallorca/" target="_blank" class="btn btn-info btn-block">FTP (Zona de descargas) <i class="fa fa-download"></i></a>
								{% block bloque2 %}{% endblock %}
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endblock %}
		</div>
	</div>
	{% endblock %}

{% block modal %}
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Registro de usuario</h4>
      </div>
      <form method="post" action="{{ urlFor('registroUsuario') }}" role="form">
      <div class="modal-body">
			<div id="inputUsuario" class="form-group">
				<label for="inputUsuario">Nombre de usuario</label>
				<input type="text" class="form-control" name="inputUsuario" placeholder="Nombre que se utilizará para acceder a la web" onKeyUp="compruebaNombre(this);" onkeydown="return soloTexto(event)" onblur="validar(this, 'errorUsuario', 'El nombre de usuario debe tener 4 caracteres o más', 1)" autocomplete="off" required>
				<span id="errorUsuario" class="help-block"></span>
			</div>
			<div id="inputPassword1" class="form-group" id="inputPassword">
				<label for="inputPassword">Contraseña</label>
				<input type="password" class="form-control"  id="pass1" name="inputPassword" onblur="validar(this, 'errorPassword1', 'La contraseña debe tener 6 caracteres o más', 2)" placeholder="Contraseña del usuario de acceso a la web" required>
				<span id="errorPassword1" class="help-block"></span>
			</div>
			<div class="form-group" id="inputPassword2">
				<label for="inputPassword2">Repita la contraseña</label>
				<input type="password" class="form-control" name="inputPassword2" onblur="validar(this, 'errorPassword2', 'Las contraseñas no coinciden', 3)" required>
				<span id="errorPassword2" class="help-block"></span>
			</div>
			<div class="form-group" id="inputNombreCompleto">
				<label for="inputNombreCompleto">Nombre y primer apellido</label>
				<input type="text" class="form-control" name="inputNombreCompleto" placeholder="Nombre público, por ejemplo: Fernando Alonso (¡Nombre REAL!)" onblur="validar(this, 'errorNombreCompleto', 'A ver, te estoy diciendo que pongas Nombre y Apellido, ¿Tan difícil es?', 4)" required>
				<span id="errorNombreCompleto" class="help-block"></span>
			</div>
			<div class="form-group" id="inputEmail">
				<label for="inputEmail">Email</label>
				<input type="text" class="form-control" name="inputEmail" placeholder="Email, necesario para confirmar la cuenta" onblur="validar(this, 'errorEmail', 'Dirección de email no valida', 5)"required>
				<span id="errorEmail" class="help-block"></span>
			</div>
      </div>
      <div class="modal-footer">
      	<button type="button" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Cancelar</button>
        <button type="submit" class="btn btn-success">Registrarme</button>
      </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block modal2 %}
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Login</h4>
      </div>
		<form role="form" method="post" action="{{ urlFor('accederPrincipal') }}">
		<div class="modal-body">
			<div class="form-group" id="pepito">
				<label for="inputUsuario">Nombre de usuario</label>
				<input type="text" class="form-control" name="inputUsuario" placeholder="Usuario" title="Introduzca su nombre de usuario" autocomplete="off" value="{{ nombreGuardado }}" required>
				<div id="pepe"></div>
			</div>
			<div class="form-group">
				<label for="inputPassword">Contraseña</label>
				<input type="password" class="form-control" name="inputPassword" placeholder="Contraseña del usuario" title="Introduzca su contraseña" required>
			</div>
			<div class="form-group">
				<label><input id="recordar" name="recordar" type="checkbox"/> Recordarme</label>
			</div>
		</div>
		<div class="modal-footer">
      		<button type="button" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Cancelar</button>
        	<button type="submit" class="btn btn-success" onclick="guardarCookie()" name="login">Login</button>
      	</div>
		</form>
    </div>
  </div>
</div>
{% endblock %}
<nav class="navbar navbar-default navbar-bottom container-fluid navbar-inverse" role="navigation">
	<div class="container">
    	<p class="navbar-text">© Copyright 2014 - Veloci by <a href="http://www.github.com/adpl" target="_blank" class="navbar-link">AdPL</a></p>
    	<p class="navbar-text navbar-right">{{ configuracion['nombre'] }}</p>
  	</div>
</nav>
</body>
</html>