{#  VELOCI - Web application for management races
	Copyright (C) 2014: Adrián Pérez López

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU Affero General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Affero General Public License for more details.

	You should have received a copy of the GNU Affero General Public License
	along with this program.  If not, see [http://www.gnu.org/licenses/]. #}

<!DOCTYPE html>
<html>
<head>
	<title>Proyecto</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="/css/style.css" type="text/css">
	<link rel="stylesheet" href="/css/bootstrap.css" type="text/css">
	<link rel="stylesheet" href="/css/alertify.bootstrap.css" type="text/css">
	<link rel="stylesheet" href="/css/alertify.core.css" type="text/css">
	<link rel="stylesheet" href="/css/alertify.default.css" type="text/css">
	<link rel="stylesheet" href="/css/font-awesome.css" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="/js/jquery-1.9.1.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.js"></script>
	<script type="text/javascript" src="/js/jsfunctions.js"></script>
	<script type="text/javascript" src="/js/alertify.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
   			$("body").popover({
   				selector: '[data-toggle=popover]',
   				html: true,
   				trigger: 'hover'
   			 });
   		});
	</script>

	{% block head %}{% endblock %}
</head>
<body onload="generarCalendario(1,1)">
	<div class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" rel="home" href="{{ urlFor('principal') }}">Veloci</a>
			</div>

			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-left">
					<li><a href="{{ urlFor('principal') }}">Inicio</a></li>
					<li><a href="{{ urlFor('pilotos') }}">Pilotos</a></li>
					<li><a href="{{ urlFor('carreras') }}">Carreras</a></li>
					<li><a href="{{ urlFor('categorias') }}">Categorías</a></li>
					<li><a href="{{ urlFor('reclamaciones') }}">Reclamaciones</a></li>
					<li><a href="#">Asistencias</a></li>
					<li><a href="#">Clasificación</a></li>
					<li><a href="#">Foro</a></li>
					{% block LinksMenu %}{% endblock %}
		            </li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					{% block Settings %}
						{% if rol >= 1 %}
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cogs"></i><b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li class="bloquePerfil" href="#">
										<a href="{{ urlFor('perfil') }}" class="menuitem">
											<img src="{{ avatar }}" class="imgPerfil" id="imgPerfil"/>
											{{ usuario }}
										</a>
									</li>
									<li role="presentation" class="divider"></li>
									{% if rol == 5 %}
										<li><a href="{{ urlFor('admin') }}">Panel de administración</a></li>
									{% endif %}
									{% block limenu %}{% endblock %}
									<li><a href="{{ urlFor('cerrarSesion') }}">Cerrar sesión</a></li>
								</ul>
							</li>
						{% else %}
							<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-sign-in"></i><b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li class="bloquePerfil" href="#">
										<a href="#" class="menuitem">
											<img class="imgPerfil" src="/images/default.png" height="50px" width="50px" />
											No identificado
										</a>
									</li>
									<li role="presentation" class="divider"></li>
									<li role="presentation">
										<a class="menuitem" href="#" data-toggle="modal" data-target="#loginModal" data-backdrop="static">
											<i class="fa fa-rocket"></i> Login
										</a>
									</li>
									<li role="presentation">
										<a class="menuitem" data-toggle="modal" data-target="#registerModal" data-backdrop="static">
											<i class="fa fa-pencil"></i> Registro
										</a>
									</li>
								</ul>
							</li>
						{% endif %}
					{% endblock %}
				</ul>
			</div>
		</div>
	</div>
	<div class="jumbotron cabecera">
      <div class="container">
        <h1>Veloci</h1>
        <p>Bienvenido</p>
        <p>Aplicación web para la gestión de campeonatos de carreras Online.</p>
        <!--<p><a class="btn btn-primary btn-lg" role="button">Learn more »</a></p>-->
      </div>
    </div>

	{% block container %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3">
				<div class="row">
					<div class="col-xs-12">
						<div class="panel panel-default">
							<div class="panel-heading">Próxima carrera</div>
							<div class="panel-body">
								{% block bloque %}{% endblock %}
							</div>
						</div>
					</div>

					<div class="col-xs-12">
						<div class="panel panel-default">
							<div class="panel-heading">Últimas reclamaciones</div>
							<div class="panel-body">
								{% for reclamacion in reclamaciones %}
									{{ reclamacion['titulo'] }}
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>

			{% block content %}
			<div class="col-sm-6">
			{% for noticia in noticias %}
				<div class="panel panel-default">
				<div class="panel-body">
				<div class="row">
			      <div class="col-xs-12">
			      	<p class="pull-right">
			        	<span class="label label-default">keyword</span>
			        	<span class="label label-default">tag</span>
			        	<span class="label label-default">post</span>
			        </p>
			        <h2>{{ noticia['titulo'] }} <!--<span class="label label-success">Nueva</span>--></h2>
			        <ul class="list-inline">
			        	<li>Publicado por: {{ noticia['nombre_completo'] }}</li>
			        	<li><a href="#"><i class="fa fa-calendar"></i> Hace 1 día</a></li>
			        	<li><a href="#"><i class="fa fa-comment"></i> 0 Comentarios</a></li>
			        	<li><a href="http://www.facebook.com/sharer.php?u=link que queremos compratir">Compártelo en Facebook</a></li>
			        	<li><a href="http://twitter.com/share?text=Veloci {{ noticia['titulo'] }}: {{ noticia['texto'] }}&url=http://localhost/7">Compártelo en Twitter</a></ul>
			        	<p>{{ noticia['texto'] }}</p>
			        <p class="lead pull-right"><a href="noticia/{{ noticia['id'] }}" class="btn btn-info">Leer más</a></p>
			      </div>
			    </div>
				</div>
				</div>
			{% else %}
				<div class="panel panel-default">
				<div class="panel-body">
				<div class="row">
			      <div class="col-xs-12">
			        <h2>Bienvenido a tu nuevo sitio <span class="label label-success">Nueva</span></h2>
			        <p class="lead pull-right"><button class="btn btn-info">Read More</button></p>
			      </div>
			    </div>
				</div>
				</div>
			{% endfor %}
			<ul class="pagination pull-right">
				<li><a href="{{ urlFor('principal') }}">&laquo;</a></li>
				{% for i in 1..nNoticias %}
				<li {% if pagina == i %} class="active" {% endif %}><a href="{{ urlFor('principalPaginada', {idPagina: i}) }}">{{ i }} <span class="sr-only">(current)</span></a></li>
				{% endfor %}
			</ul>
			</div>

			<div class="col-sm-3">
				<div class="row">
					<div class="col-xs-12">
						<div class="panel panel-default">
							<div class="panel-heading">Calendario</div>
							<div class="panel-body">
								<div id="calendario"></div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">Categorías</div>
							<div class="panel-body">
								{% block categorias %}{% endblock %}
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">Bloque</div>
							<div class="panel-body">
								{% block bloque2 %}{% endblock %}
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endblock %}
		</div>
	</div>
	{% endblock %}

{% block modal %}
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Registro de usuario</h4>
      </div>
      <form method="post" action="{{ urlFor('registroUsuario') }}" role="form">
      <div class="modal-body">
			<div class="form-group" id="inputUsuario">
				<label for="inputUsuario">Nombre de usuario</label>
				<input type="text" class="form-control" name="inputUsuario" placeholder="Nombre que se utilizará para acceder a la web" onKeyUp="compruebaNombre(this);" autocomplete="off" required>
			</div>
			<div class="form-group" id="inputPassword">
				<label for="inputPassword">Contraseña</label>
				<input type="password" class="form-control" name="inputPassword" placeholder="Contraseña del usuario de acceso a la web" required>
			</div>
			<div class="form-group" id="inputPassword2">
				<label for="inputPassword2">Repita la contraseña</label>
				<input type="password" class="form-control" name="inputPassword2" required>
			</div>
			<div class="form-group" id="inputNombreCompleto">
				<label for="inputNombreCompleto">Nombre completo</label>
				<input type="text" class="form-control" name="inputNombreCompleto" placeholder="Nombre público, por ejemplo: Fernando Alonso (¡Nombre REAL!)" required>
			</div>
			<div class="form-group" id="inputEmail">
				<label for="inputEmail">Email</label>
				<input type="text" class="form-control" name="inputEmail" placeholder="Email, necesario para confirmar la cuenta" required>
			</div>
      </div>
      <div class="modal-footer">
      	<button type="button" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Cancelar</button>
        <button type="submit" class="btn btn-success">Registrarme</button>
      </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block modal2 %}
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Login</h4>
      </div>
		<form role="form" method="post" action="{{ urlFor('accederPrincipal') }}">
		<div class="modal-body">
			<div class="form-group" id="pepito">
				<label for="inputUsuario">Nombre de usuario</label>
				<input type="text" class="form-control" id="inputUsuario" name="inputUsuario" placeholder="Usuario" title="Introduzca su nombre de usuario" autocomplete="off" required>
				<div id="pepe"></div>
			</div>
			<div class="form-group">
				<label for="inputPassword">Contraseña</label>
				<input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="Contraseña del usuario" title="Introduzca su contraseña" required>
			</div>
			<div class="form-group">
				<label><input type="checkbox"/> Recordarme</label>
			</div>
		</div>
		<div class="modal-footer">
      		<button type="button" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Cancelar</button>
        	<button type="submit" class="btn btn-success" name="login">Login</button>
      	</div>
		</form>
    </div>
  </div>
</div>
{% endblock %}
</body>
</html>