{#  VELOCI - Web application for management races
	Copyright (C) 2014: Adrián Pérez López

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU Affero General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Affero General Public License for more details.

	You should have received a copy of the GNU Affero General Public License
	along with this program.  If not, see [http://www.gnu.org/licenses/]. #}

{% extends "admbase.html.twig" %}

{% block head %}
<link rel="stylesheet" href="../css/bootstrap.css" type="text/css">
	<link rel="stylesheet" href="../css/font-awesome.css" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700" rel="stylesheet" type="text/css">
<script>
	function rellenarSelect() {
		var myselect = document.getElementById('inputPlazas');
		for (var i = 2 ; i < 30; i++) {
			myselect.innerHTML += "<option value='" + i + "'>" + i + "</option>";
		};
	}
</script>
{% endblock %}
{% block loadJS %}
onload="rellenarSelect()"
{% endblock %}
{% block adminUsuarios %}
class="active"
{% endblock %}

{% block content %}
<div class="col-lg-9">
	<div class="panel panel-default">
		<div class="panel-body">
			<h2>Usuario seleccionado: {{ piloto['nombre_completo'] }} <small> Edición de usuario</small></h2>
			<a href="#" class="btn btn-danger pull-right">Banear usuario</a>
			<img src="/{{ piloto['avatar'] }}" id="bloquePerfil" alt="avatar"/><br/>
			<form method="post" action="{{ urlFor('editarUsuarioPost') }}" role="form">
				<input type="hidden" name="idUser" value="{{ piloto['id'] }}">
				<input type="text" name="id" value="{{ piloto['id'] }}" hidden>
				<div class="form-group">
					<label for="inputNombre">Nombre completo</label>
					<input type="text" class="form-control" id="inputNombre" name="inputNombre" value="{{ piloto['nombre_completo'] }}">
				</div>
				<div class="form-group">
					<label for="inputNombre">Email</label>
					<input type="text" class="form-control" id="inputNombre" name="inputNombre" value="{{ piloto['email'] }}">
				</div>
				<div class="form-group">
					<label for="inputNombre">Escuderia</label>
					<input type="text" class="form-control" id="inputNombre" name="inputNombre" value="{{ piloto['escuderia'] }}">
				</div>
				<div class="form-group">
					<label for="inputNombre">Activo</label>
					<input type="text" class="form-control" id="inputNombre" name="inputNombre" value="{{ piloto['activo'] }}">
				</div>
				<div class="form-group">
					<label for="inputNombre">Rol</label>
					<input type="text" class="form-control" id="inputNombre" name="inputNombre" value="{{ piloto['rol'] }}">
				</div>
			</form>
			<form method="post" action="{{ urlFor('asignaCategorias') }}">
				<div class="form-group">
				<p>Seleccione las categorías en las que participa este piloto</p>
					<select class="form-control" name="inputCategorias" multiple>
						{% for categoria in categorias %}
							{% if categoria['piloto_id'] == piloto['id'] %}
								<option>{{ categoria['nombre'] }} e</option>
							{% endif %}
								<option>{{ categoria['nombre'] }}</option>
							{% else %}
								<option>No se han encontrado categorías</option>
						{% endfor %}
					</select>
				</div>
				<div class="form-group">
				<p>Este piloto participa en la siguientes categorías, seleccione las que desea quitar</p>
					<select class="form-control" name="inputCategorias" multiple>
						{% for categoria in categorias %}
							{% if categoria['piloto_id'] == piloto['id'] %}
								<option>{{ categoria['nombre'] }} e</option>
							{% endif %}
								<option>{{ categoria['nombre'] }}</option>
							{% else %}
								<option>No se han encontrado categorías</option>
						{% endfor %}
					</select>
				</div>
				<button type="submit" name="inputSubmit" class="btn btn-success">Editar usuario</button>
				<a href="{{ urlFor('listaUsuarios') }}" class="btn btn-danger">Volver</a>
			</form>
		</div>
	</div>
</div>
{% endblock %}