{#  VELOCI - Web application for management races
	Copyright (C) 2014: Adrián Pérez López

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU Affero General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Affero General Public License for more details.

	You should have received a copy of the GNU Affero General Public License
	along with this program.  If not, see [http://www.gnu.org/licenses/]. #}

{% extends "admbase.html.twig" %}

{% block head %}
<style type="text/css">
	.img-circle {
		height: 100px;
		width: 100px;
		margin: 0 auto;
	}
</style>
{% endblock %}

{% block adminCategorias %}
active
{% endblock %}

{% block content %}
<div class="col-lg-9">
	<div class="panel panel-default">
		<table class="table table-striped">
			<thead>
				<th>Imagen</th>
				<th>Nombre</th>
				<th>Plazas</th>
				<th>Precio</th>
				<th>Edición</th>
				<th>Borrado</th>
			</thead>
			<tbody>
				{% for categoria in categorias %}
				<tr>
					<td>{{ categoria['imagen'] }}</td>
					<td>{{ categoria['nombre'] }}</td>
					<td>{{ categoria['plazas'] }}</td>
					<td>{{ categoria['precio_inscripcion'] }} €</td>
					<td><a href="{{ urlFor('editarCategoria', {'idCat': categoria.id}) }}" class="btn btn-info">Editar</a></td>
					<td><form method="post" action="{{ urlFor('editarCategoriaPost') }}"><input type="text" name="id" value="{{ categoria['id'] }}" hidden><button type="submit" class="btn btn-danger">Eliminar</button></form></td>
				</tr>
				{% else %}
				<tr><td>No se han encontrado categorías</td></tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}