{#  VELOCI - Web application for management races
	Copyright (C) 2014: Adrián Pérez López

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU Affero General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Affero General Public License for more details.

	You should have received a copy of the GNU Affero General Public License
	along with this program.  If not, see [http://www.gnu.org/licenses/]. #}

{% extends "admbase.html.twig" %}

{% block head %}
<style type="text/css">
	.img-circle {
		height: 100px;
		width: 100px;
		margin: 0 auto;
	}
</style>
{% endblock %}

{% block adminUsuarios %}
class="active"
{% endblock %}

{% block content %}
<div class="col-lg-9">
	<div class="panel panel-default">
		<div class="panel panel-body pull-right">
			<form method="post" action="{{ urlFor('borrarUsuario') }}">
				<a class="btn btn-info btn-action" onclick="seleccionado('{{ urlFor('editarUsuario') }}', 'rUsuario')">Editar</a>
				<input type="hidden" id="co" name="co">
				<button type="submit" name="borralo" class="btn btn-danger btn-action">Eliminar</button>
			</form>
		</div>
		<table class="table table-striped">
			<thead>
				<th>Seleccionar</th>
				<th>ID</th>
				<th>Nombre</th>
				<th>Email</th>
				<th>Rol</th>
			</thead>
			<tbody>
				{% for usuario in usuarios %}
				<tr>
					<td><input type="radio" name="rUsuario" class="rUsuario" value="{{ usuario['id'] }}" onclick="seleccion(this)"></td>
					<td>{{ usuario['id'] }}</td>
					<td>{{ usuario['nombre_completo'] }}</td>
					<td>{{ usuario['email'] }}</td>
					{% if usuario['rol'] == 5 %}
						<td>Administrador</td>
					{% elseif usuario['rol'] == 1 %}
						<td>Registrado</td>
					{% endif %}
				</tr>
				{% else %}
				<tr><td>No se han encontrado usuarios</td></tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}