{#  VELOCI - Web application for management races
	Copyright (C) 2014: Adrián Pérez López

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU Affero General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Affero General Public License for more details.

	You should have received a copy of the GNU Affero General Public License
	along with this program.  If not, see [http://www.gnu.org/licenses/]. #}

{% extends "base.html.twig" %}

{% block container %}
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 col-lg-offset-2">
			<div class="panel panel-default">
				<div class="panel-body">
					<ul>
						{% for noticia in noticias %}
							<li><a href="/noticia/{{ noticia['id'] }}">{{ noticia['titulo'] }}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>

		<div class="col-lg-5 col-md-5 col-sm-8 col-xs-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="col-xs-12">
				        <h2>{{ noticia['titulo'] }} <!--<span class="label label-success">Nueva</span>--></h2>

				        <ul class="list-inline">
				        	<li><a href="#"><i class="fa fa-calendar"></i> Hace 1 día</a></li>
				        	<li><a href="#"><i class="fa fa-comment"></i> {{ nComentarios }} Comentarios</a></li>
				        	<li><a href="#"><i class="fa fa-share"></i> Compartido 1 vez</a></li>
				        </ul>
				        	<p>Publicado por: {{ noticia['nombre_completo'] }}</p>
				        	<p>{{ noticia['texto'] }}</p>
				        	<hr>
				        	{% for comentario in comentarios %}
				        		<div class="panel panel-default">
				        			<div class="panel-body">
				        				<img src="/{{ comentario['avatar'] }}" class="imgPerfil" id="imgPerfil"/>
				        				{{ comentario['nombre_completo'] }} <span class="pull-right">{{ comentario['fecha'] }}</span><hr>
				        				{{ comentario['comentario'] }}<hr>
				        				{% if comentario['usuario_id'] == id %}
				        					<form method="post" action="{{ urlFor('borrarComentario', {idNoticia: noticia['id']}) }}">
				        						<input type="hidden" name="no" value="{{ noticia['id'] }}">
				        						<input type="hidden" name="co" value="{{ comentario['id'] }}">
					        					<input type="submit" class="btn btn-danger btn-sm pull-right" value="Eliminar comentario">
					        				</form>
				        				{% else %}
				        					<a href="#comment" class="btn btn-info btn-sm pull-right" 
					        				onclick="responder({{ comentario['id'] }}, '{{ comentario['nombre_completo'] }}')">Responder</a>
					        			{% endif %}
				        			</div>
				        		</div>
				        	{% endfor %}
				        	<a name="comment"></a>
				        	<hr>
				        	{% if id %}
				        	<h4 id="tcomentarios" class="tcomentarios"><i class="fa fa-comment fa-3x"></i> Nuevo comentario</h4>
				        		<form method="post" action="{{ urlFor('comentar', {idNoticia: noticia['id']}) }}">
				        			<input type="hidden" name="inputNoticia" value="{{ noticia['id'] }}">
				        			<input type="hidden" id="responde" name="inputResponde" value="0">
				        			<div class="form-group">
										<textarea type="email" class="form-control" name="inputComentario" rows="5"></textarea>
									</div>
									<input type="submit" class="btn btn-success pull-right" name="nuevoComentario" value="Comentar">
								</form>
				        	{% else %}
				        		<div class="alert alert-danger">Debe estar identificado para comentar</div>
				        	{% endif %}
				      </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}