{#  VELOCI - Web application for management races
	Copyright (C) 2014: Adrián Pérez López

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU Affero General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Affero General Public License for more details.

	You should have received a copy of the GNU Affero General Public License
	along with this program.  If not, see [http://www.gnu.org/licenses/]. #}

{% extends "base.html.twig" %}

{% block content %}
<div class="col-sm-9">
	<div class="panel panel-default">
	<div class="panel-body">
	<div class="row">
      <div class="col-xs-12">
        <h1>Lista de reclamaciones <small>Reclamaciones abiertas</small></h1>
      </div>
    </div>
    {% if alert %}
    	<div class="alert alert-danger">{{ alert }}</div>
    {% endif %}
    	<div class="alert alert-info">
    		<h3>Pilotos bajo investigación:</h3>
    		{% for pilotoR in pilotosR %}
    			{% if pilotoR['sancion'] == 0 %}
    				<div class="alert alert-warning">{{ pilotoR['nombre_completo'] }}: Este piloto todavía se encuentra bajo investigación</div>
    			{% elseif pilotoR['sancion'] == 1  %}
    				<div class="alert alert-danger">{{ pilotoR['nombre_completo'] }} ha sido sancionado con: {{ pilotoR['nota'] }}</div>
    			{% else %}
    				<div class="alert alert-success">{{ pilotoR['nombre_completo'] }} no sufre sanción</div>
    			{% endif %}
    		{% endfor %}
    	</div>
    
	{% for comentario in comentarios %}
		<div class="panel panel-default">
			<div class="panel-body">
				<h2 class="pull-left">{{ comentario['titulo'] }}</h2>
				<span class="pull-right">
					{{ comentario['nombre_completo'] }}
					<img src="/{{ comentario['avatar'] }}" class="imgPerfil" id="imgPerfil"/>
				</span><hr style="clear: both;">
				{{ comentario['comentario'] }}
			</div>
		</div>
	{% endfor %}

	{% if reclamaciones['abierto'] == 0 %}
		<hr>
		<h2>Responder a la reclamación</h2>
		<form role="form" method="post" action="{{ urlFor('nuevoComentario', {'idReclamacion': idReclamacion}) }}">
		<input type="hidden" name="inputID" value="{{ idReclamacion }}">
			<div class="form-group">
				<label for="inputTitulo">Título</label>
				<input type="text" name="inputTitulo" id="inputTitulo" class="form-control">
			</div>
			<div class="form-group">
				<label for="inputComentario">Comentario</label>
				<textarea class="form-control" rows="3" name="inputComentario" id="inputComentario" rows="3"></textarea>
			</div>
			<input type="submit" value="Enviar" class="btn btn-success">
			<a href="{{ urlFor('reclamaciones') }}" class="btn btn-danger">Volver</a>
		</form>
		<hr>
		{% if rol == 2 %}
		<h2>Panel de la FIA <small>Resolución de la incidencia</small></h2>
		<form role="form" methos="post" action="#">
			<input type="hidden" name="inputID" value="{{ idReclamacion }}">
			<div class="form-group">
			<select class="form-control" id="inputPiloto" name="inputPiloto[]" required>
				{% for pilotoR in pilotosR %}
					<option value="{{ pilotoR['id'] }}">{{ pilotoR['nombre_completo'] }}</option>
				{% endfor %}
			</select>
			</div>
			<div class="form-group">
				<label for="inputSancion">Sanción para el piloto</label>
				<input type="text" name="inputSancion" id="inputSancion" class="form-control" placeholder="En caso de recibir sanción, indicar la sanción en este campo">
			</div>
			<a href="#" class="btn btn-success">No sancionar</a>
			<a href="#" class="btn btn-danger">Sanción</a>
			<a href="#" class="btn btn-info">Cerrar reclamación</a>
		</form>
		{% endif %}
	{% endif %}
	</div>
	</div>
	</div>
</div>
{% endblock %}