{#  VELOCI - Web application for management races
	Copyright (C) 2014: Adrián Pérez López

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU Affero General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Affero General Public License for more details.

	You should have received a copy of the GNU Affero General Public License
	along with this program.  If not, see [http://www.gnu.org/licenses/]. #}

{% extends "base.html.twig" %}

{% block content %}
<div class="col-sm-9">
	<div class="panel panel-default">
	<div class="panel-body">
	<div class="row">
      <div class="col-xs-12">
        <h1>Lista de reclamaciones <small>Reclamaciones abiertas</small></h1>
      </div>
    </div>
    {% if alert %}
    	<div class="alert alert-danger">{{ alert }}</div>
    {% endif %}
    	<div class="alert alert-info">
    		<h3>Pilotos bajo investigación:</h3>
    		<ul>
    		{% for pilotoR in pilotosR %}
    			<li>{{ pilotoR['nombre_completo'] }}</li>
    		{% endfor %}
    		</ul>
    	</div>
    	{% set resolucion = false %}
	{% for comentario in comentarios %}
		{% if comentario['sancion'] != 0 %}
			{% set resolucion = true %}
		{% endif %}
		<div class="panel panel-default">
			<div class="panel-body">
				<h2 class="pull-left">{{ comentario['titulo'] }}</h2>
				<span class="pull-right">
					{{ comentario['nombre_completo'] }}
					<img src="/{{ comentario['avatar'] }}" class="imgPerfil" id="imgPerfil"/>
				</span><hr style="clear: both;">
				{{ comentario['comentario'] }}
			</div>
		</div>
	{% endfor %}
		{% if resolucion == true %}
			<hr>
			<h2>Resolución de la reclamación</h2>
			<ul>
			{% for sancionado in sancionados %}
				<li>{{ sancionado['nombre_completo'] }}: {{ sancionado['nota'] }}</li>
			{% endfor %}
			</ul>
		{% else %}
			<hr>
			<h2>Responder a la reclamación</h2>
			<form role="form" method="post" action="{{ urlFor('nuevoComentario', {'idReclamacion': idReclamacion}) }}">
			<input type="hidden" name="inputID" value="{{ idReclamacion }}">
				<div class="form-group">
					<label for="inputTitulo">Título</label>
					<input type="text" name="inputTitulo" id="inputTitulo" class="form-control">
				</div>
				<div class="form-group">
					<label for="inputComentario">Comentario</label>
					<textarea class="form-control" rows="3" name="inputComentario" id="inputComentario" rows="3"></textarea>
				</div>
				<input type="submit" value="Enviar" class="btn btn-success">
				{% if rol == 2 %}
				<a href="#" class="btn btn-info">No sancionar</a>
				<a href="#" class="btn btn-warning">Sanción</a>
				{% endif %}
				<a href="{{ urlFor('reclamaciones') }}" class="btn btn-danger">Volver</a>
			</form>
		{% endif %}
	</div>
	</div>
	</div>
</div>
{% endblock %}